#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Version=1.1
Name=P-Watcher
Comment=P-Watcher Diashow Tool
Exec=pwatcher
Icon=pwatcher
Terminal=false